@import 'colors';
@import 'vars';

@mixin lagre-text {
  font: {
    family: Lato;
    size: 27px;  
    weight: 300;
  }  
  line-height: 32px;
  letter-spacing: 0.025em;
  color: $pink;
}

@mixin small-text {
  font: {
    family: Lato;
    size: 15px;  
    weight: 400;
  }  
  line-height: 32px;
  letter-spacing: 0.025em;
  color: $white;
}

@mixin arg-text($family, $font-size, $font-weight) {
  font: {
    family: $family;
    size: $font-size;
    weight: $font-weight;
  }
}


